/* The following CSS is mobile-friendly, since it is viewport-size responsive.
 */
form {
		margin: auto;
		max-width: 60em;
		padding: 0em 1em;
		font-size: 1.1em;
}

input {
		display: inline-block;
    box-sizing:border-box;
	  max-width: 30em;
	  width: 45%;
    padding: 10px;
    border-radius: 5px;
    transform: scale(1);
    transition-duration: .2s;
}

input:hover, input:focus {
    transform: scale(1.02);
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:hover, input[type=checkbox]:focus + label, label:hover + input[type=checkbox] + label {
    transform: scale(1.05);
}

input[type=text], input[type=number] {
    border: 1px solid lightgrey;
}

label {
		display: inline-block;
	  margin-top: 1.5em;
	  max-width: 30em;
	  width: 45%;
    cursor: pointer;
}

input[type=checkbox] + label {
    overflow: hidden;
}
input[type=checkbox] + label::before {
    content: "\2713";
    background-color: white;
    color: rgba(255,255,255,0);
    position: relative;
    display:  block;
    margin: auto;
    width: 38px;
    height: 38px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

    line-height: 36px;
    font-size: 20px;
    transition-duration: .2s;
}

input[type=checkbox]:disabled + label::before {
    background-color: #ccc;
}

input[type=checkbox]:checked + label::before {
    font-size: 42px;
    color: #0bb;
}

input[type=checkbox]:disabled:checked + label::before {
    color: #999;
}


/* .hidden { */
/* 	  display: none; */
/* } */

[data-ql-if], [data-ql-else] {
    display: block;
    overflow: hidden;
    /* max-height: 100%; */
    transition-duration: .2s;
    transform-origin: top;
}

[data-ql-if].hidden , [data-ql-else].hidden {
    /* max-height: 0px; */
    opacity: 0;
    transform: scaleY(0);
    height: 0;
}

[data-ql-if].visible, [data-ql-else].visible {
    opacity: 1;
    transform: scaleY(1);
    height: auto;
}
